@using SportsWebsite.ViewModels;
@model GetTournamentTeamsViewModel;
@{
    ViewData["Title"] = "Tournament Teams Page";
    Layout = "_Layout";
}
@if (User.Identity.IsAuthenticated)
{
    <a class="btn btn-primary-inverse" data-toggle="modal" data-target="#Editpopup" style="background-color: darkslategray ; color : white; margin-bottom: 20px;">Add Team </a>

}
<div>
        <h1>@Model.TournamentName Teams</h1>    
</div>
<div class="card card--has-table">
    <table class="table" style="margin-bottom:0">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Logo</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Foundation Date</th>
                <th scope="col">Website URL</th>
                @if (User.Identity.IsAuthenticated)
                {
                     <th scope="col"></th>
                }
               
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Response.TeamsDetails.Count; i++)
            {
                <tr>
                    <th scope="row">@(i + 1)</th>
                    <td><img src="~/images/@Model.Response.TeamsDetails[i].ImageName" style="width:30px" /></td>
                    <td>@Model.Response.TeamsDetails[i].Name</td>
                    <td>@Model.Response.TeamsDetails[i].Description</td>
                    <td>@Model.Response.TeamsDetails[i].FoundationDate.Year</td>
                    <td><a href="@Model.Response.TeamsDetails[i].WebsiteURL">Team Website</a></td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <td>
                        <a style="border: none;background-color: transparent;color: #292c31;" asp-controller="Tournament" asp-action="RemoveTeamFromTournament" asp-route-tournamentId="@Model.TournamentId" asp-route-teamId="@Model.Response.TeamsDetails[i].TeamId" method="get">
                            <i class="fas fa-trash"></i>
                        </a>
                        </td>
                    }
                    
                </tr>
            }
        </tbody>
    </table>
</div>
@if (User.Identity.IsAuthenticated)
{
    <div class="modal fade" id="Editpopup" tabindex="-1" role="dialog" aria-labelledby="ordersModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="width:600px">
            <div class="modal-content" id="modal-content">
                <div class="modal-header">
                    <h6>Update Team</h6>
                    <hr>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin: -1rem -1rem -1rem;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-body">
                    <div class="card-body">
                        <div class="col-lg-12">
                            <div class="input-box">
                                <form id="EditForm" asp-controller="Tournament" asp-action="AddTeamToTournament" method="post" enctype="multipart/form-data">
                                    <input type="hidden" asp-for="TournamentId" value="@Model.TournamentId" />
                                    <div class="form-group">
                                        <label asp-for="TeamId" style="font-size: 16px;">Team</label>
                                        <select asp-for="TeamId" id="TeamId" class="form-control chosen-select">
                                            <option value="0">Select Team...</option>
                                            @foreach (var item in Model.Teams)
                                            {
                                                if (!Model.Response.TeamsDetails.Exists(x => x.TeamId == item.TeamId))
                                                {
                                                    <option value=@item.TeamId> @item.Name </option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-primary-inverse" id="AddBtn" style="background-color: darkslategray ; color : white">
                                        Add
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



